<!DOCTYPE html>
<html>
<head>
	<title>Feedback</title>
	<script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
    <script type="text/javascript">
	FreshWidget.init("", {"queryString": "&widgetType=popup", "utf8": "✓", "widgetType": "popup", "buttonType": "text", "buttonText": "Support", "buttonColor": "black", "buttonBg": "#006063", "alignment": "4", "offset": "235px", "formHeight": "500px", "url": "https://svmukunthan97.freshdesk.com"} );

   // function initialize(coord) {
   // }
    </script>
</head>
<body>
    <!-- <img src="//images/logo.png" width="100%"> -->
</body>
</html>